html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

body {
	font-family: Avenir Next;
	margin: 0px;
}

a {
	color: inherit;
	text-decoration: inherit;
}

.topnavbar {
    background: #FFE6E6;
    height: 146px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0px;
    right: 0px;
    z-index: 5;
}

#title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: #FFFFFF;
	font-size: 45px;
	padding-top: 10px;
}

#style:hover {
	cursor: pointer;
}

#logo {
	height: 41.49px;
	width: 41.49px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.topnavbar-container {
	color: #FCCCCB;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 20px;
	padding-top: 13px;
}

.navbar-item {
	padding-left: 25px;
	padding-right: 25px;
}

.navbar-item:hover {
	cursor: pointer;
	color: #FFFFFF;
	border-radius: 20px;
	border-style: solid;
	border-color: #FFFFFF;
}

.topnavbarinfo-container {
	display: flex;
	flex-direction: row;
	transform: translate(-60%, 146px);
	font-size: 20px;
	color: #FFFFFF;
	display: ;
	position: fixed;
	left: 50%;
	z-index: 6;
}

#season {
	background: #FCCCCB;
	width: 120px;
	height: 160px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: 20px;
	transform: translateX(-110%);
	display: none;
}

#closet {
	background: #FCCCCB;
	width: 120px;
	height: 90px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: 20px;
	transform: translateX(-12%);
	display: none;
}

.navbar-item-detail{
	margin: 10px;
}

.mainpage {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	position: absolute;
	transform: translateY(-75%);
	z-index: 1;
	margin-left: 100px;
	margin-right: 100px;
}

.name {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	transform: translateY(-80px);
	margin-right: 100px;
}

#welcome {
	color: #D5CE8A;
	font-size: 30px;
	padding-bottom: 10px;
}

#more {
	color: #FCCCCB;
	font-size: 25px;
}

.mood {
	width: 165px;
	height: 145px;
	transform: translate(50%, -80%);
}

.mood img {
	width: 165px;
	height: 145px;
	overflow: hidden;
	border-style: solid;
	border-color: #EFEAB8;
}

#summer1 {
	position: absolute;
	z-index: 4;
}

#summer2 {
	position: absolute;
	z-index: 3;
	transform: translate(89%, 65%);
}

#summer3 {
	position: absolute;
	z-index: 2;
	transform: translate(30%, 150%);
}

.inspiration {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

.galleryrow {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.items {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 30px;
}

.items:hover {
	cursor: pointer;
	opacity: 0.7;
	transition-duration: 0.3s;
	color: #FFE6E6;
}

.outfit {
	width: 180px;
	height: 227px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 10px;
}

.outfit img {
	width: 150px;
	height: 227px;
	overflow: hidden;
	border-style: solid;
	border-color: #EFEAB8;
}

.info {
	color: #FCCCCB;
	font-size: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#background {
	width: 100%;
	height: 100%;
}

#background img {
	position: absolute;
	overflow: hidden;
	top: 0px;
	bottom: 0px;
	width: 100%;
	height: auto;
	opacity: 0.3;
	z-index: 0;
}